API_KEY=""
HOST_ELASTIC=""
VIVO_URL_ITEM_BASE="http://codich1.ibict.br:8081/vivo/display"
VIVO_URL_BASE="http://codich1.ibict.br:8081/vivo"
LANGUAGES="en,pt-BR"
MAIL_SENDER=""
MAIL_PASSWORD=""
MAIL_PORT=587
MAIL_HOST=""
MAIL_RECIPIENT="brcris@ibict.br"
PUBLIC_RECAPTCHA_SITE_KEY="6LdFGEImAAAAADxakIyJv_qGbvtO861pDyBnL4NQ"
RECAPTCHA_SECRET_KEY=""
NEXT_PUBLIC_GA_TRACKINK="G-FGJCTLZDZJ"
INDEX_PUBLICATION="release3-publication"
INDEX_PERSON="release3-person"
INDEX_ORGUNIT="release3-orgunit"
INDEX_JOURNAL="release3-journal"
INDEX_PROGRAM="release3-program"
INDEX_PATENT="release3-patent"
INDEX_GROUP="release3-group"
INDEX_SOFTWARE="release3-software"
DOWNLOAD_FOLDER_PATH="/tmp/brcris"
BRCRIS_HOST_BASE="https://brcris.ibict.br"
LOG_FOLDER_PATH="/tmp/logbrcris"
FIELDS_RIS='{"TY":"type", "AU":"author", "PY":"publicationDate", "TI":"title", "LA":"language", "JO":"journal", "KW":"keyword"}'