.contact{
  background-color: #fff !important;
  color: var(--dark-color);
}
.contactUs {
  display: flex;
  justify-content: center;
}

.contactUs h5{
  border-bottom: 2px solid #960080;
  padding-bottom: 0.5rem;
}
