html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bg-violet {
  background: #210d41;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next .navbar-expand-lg {
  padding: 0 1.5rem;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.navbar {
  margin-bottom: 2rem;
}

.nav-link {
  color: #fff !important;
}

.nav-link:visited {
  font-weight: bold;
}

.navbar-btn {
  border-radius: 8px;
  padding: 0.4rem 0;
  width: 100px;
  border: none !important;
  color: #fff;
}

.btn-picti {
  background: #f9943b;
}

.btn-api,
.btn-lorem {
  background: #e61f93;
}

.card {
  background-color: #350064 !important;
}

.search-card .nav-tabs {
  margin-bottom: 1rem;
}

.search-card .nav-tabs .nav-link {
  border: none;
}

.search-card .nav-tabs .nav-item.show .nav-link,
.search-card .nav-tabs .nav-link.active {
  border-bottom: 2px solid #960080;
}

.search-card .sui-search-box__submit {
  background-color: #0096b6;
  background: #0096b6;
}
.sui-result a {
  text-decoration: none;
}

.sui-result__value a {
  margin-right: 0.5rem;
}

.sui-result__value a:after {
  content: ',';
}

.sui-result__value a:last-child:after {
  content: '';
}

#operator {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
  font-family: inherit;
  width: 70px;
}

.page .nav-tabs .nav-item.show .nav-link,
.page .nav-tabs .nav-link.active {
  background-color: transparent;
}

.page .nav-tabs {
  border-bottom: none;
}
