// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --accent-color: #e61f93;
  --secondary-color: #430059;
  --tabs-color: #660b6e;
  --dark-color: #210d41;
  --bs-link-color: #6610f2;
  --bs-link-hover-color: #8540f5;
  --text-secondary-color: #333333;
  --border-color: #cccccc;
  --border-dark-color: #bbbbbb;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  color: var(--dark-color);
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Roboto', sans-serif !important;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
}

h2 {
  font-size: 1.25rem;
}

h1 {
  position: relative;
  font-size: 1.5rem;
}

a {
  color: var(--bs-link-color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

nav.navbar-expand-lg {
  padding-left: 0;
  padding-right: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.search-card {
  width: 100%;
  max-width: 900px;
}

.sui-search-box .form-search {
  width: 100%;
}

.form-search {
  gap: 0.5rem;
  display: flex;
}

.form-search .form-group {
  display: flex;
  width: 100%;
}

.form-search select,
.form-search input,
.form-search button {
  padding: 10px 8px;
}

.form-search select,
.form-search input {
  border: 1px solid var(--border-color);
  color: var(--dark-color);
}

.custom-select {
  position: relative;
}

.form-search select {
  padding-left: 16px;
  appearance: none;
  padding-right: 32px;
  background: #f3f3f3;
  border-radius: 24px 0 0 24px;
  border-right: none;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: '';
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.form-search input {
  width: 100%;
  padding-left: 8px;
  border-radius: 0 24px 24px 0;
}

.form-search input:focus-visible,
.form-search select:focus-visible {
  outline: none;
}

.form-search button {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  border-radius: 24px;
}

.form-search button:disabled {
  opacity: 0.85;
}

.btn-primary {
  background-color: var(--dark-color) !important;
  border-color: #290043 !important;
}

.btn-primary:hover {
  background-color: var(--secondary-color) !important;
  border-color: #290043 !important;
}

.btn-secondary {
  background: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.btn-outline-secondary {
  border-color: var(--border-color) !important;
  color: var(--secondary-color) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.bg-violet {
  background: var(--dark-color);
}

.navbar .nav-tabs .nav-link:focus,
.navbar .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.navbar-logo .brcris {
  max-height: 75px;
  margin-right: 2rem;
  margin-top: 1px;
}

.navbar-logo .ibict {
  height: 50px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-expand-lg {
  padding: 0.1em 1.5rem 0.7em;
}

.nav {
  margin-bottom: 2px !important;
  margin-right: 0.3rem !important;
}

.btn-link {
  color: var(--bs-link-color);
  background-color: transparent;
  border: none;
  margin-left: 8px;
  padding: 4px;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
}

.btn-link:hover {
  color: var(--bs-link-hover-color);
  border: none;
  text-decoration: underline;
}

.navbar {
  margin: 0;
  height: 90px;
}

.navbar .navbar-brand {
  padding-bottom: 0;
  padding-top: 0;
}

a.nav-link {
  color: #fff;
}

.card .nav-link {
  color: var(--dark-color);
}

.card .nav-tabs .nav-link.active {
  color: var(--secondary-color);
}

.navbar .nav-link.active {
  font-weight: bold !important;
}

.navbar-btn {
  border-radius: 8px;
  padding: 0.4rem 0;
  width: 100px;
  border: none !important;
  color: #fff;
}

.card .nav-tabs .nav-item.show .nav-link,
.card .nav-tabs .nav-link.active {
  background-color: transparent;
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.btn-picti {
  background: #f9943b;
}

.btn-api,
.btn-lorem {
  background: var(--accent-color);
}

.sui-layout-main-body {
  position: relative;
  display: flex;
  gap: 1rem;
}

.result {
  width: 72%;
}

button[disabled],
button[disabled]:hover {
  background: var(--text-secondary-color) !important;
  border-color: var(--text-secondary-color) !important;
  opacity: 0.7 !important;
}

.sui-result,
.sui-result__header a {
  text-decoration: none;
  word-break: break-all;
}

.page-search .indicators-header {
  padding-left: 0;
}

.page-search .sui-search-box__submit {
  background: var(--dark-color);
  border-color: var(--dark-color);
}
.page-search .sui-search-box__submit:hover {
  background: var(--secondary-color);
}

.sui-result__value span:after {
  content: ', ';
}

.sui-result__value span:last-child:after {
  content: '';
}

.sui-result__value div {
  display: inline;
}

.sui-result__value div:after,
.sui-result__value a:after {
  content: ', ';
}

.sui-result__value div:last-child:after,
.sui-result__value a:last-child:after {
  content: '';
}

li .sui-result__key {
  font-weight: 500;
  font-size: 1rem;
  color: inherit;
}

li .sui-result__value {
  font-size: 1rem;
}

li .sui-result__key:before {
  content: '';
}

li .sui-result__key:after {
  content: ': ';
}

#operator {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
  width: 70px;
}

.container {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.lattes-icon {
  max-height: 19px;
  margin-top: -8px;
}

.page .nav-tabs .nav-item.show .nav-link,
.page .nav-tabs .nav-link.active {
  background-color: transparent;
}

.page .nav-tabs {
  border-bottom: none;
}

.icon-lang {
  max-width: 32px;
}

.nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 100%;
  margin-bottom: 16px;
}

.page-title h1::after {
  /* content: '';
  width: 50%;
  position: absolute;
  left: 0;
  bottom: -4px;
  border-bottom: 2px solid var(--accent-color); */
}

.search-btn {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  margin: auto;
}

.partners div {
  width: 7%;
  min-width: 60px;
}

.partners div.hilight {
  width: 10%;
}
.partners div.minus {
  width: 5%;
}

.navbar .nav-tabs {
  border-bottom: none;
}

/* sobrescrevendo o css do componente do search-ui  */

// .page-search .sui-layout {
//   width: 100%;
//   margin-left: 16px;
// }

.page-search,
.page-search .sui-multi-checkbox-facet {
  color: #210d41;
  font-size: 0.9rem;
}

.sui-search-box__autocomplete-container li[aria-selected='true'] {
  background: var(--secondary-color) !important;
}

.filters {
  margin: 16px 0 8px 0;
}

.page-search .sui-facet {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 8px;
}

.sui-facet label {
  text-transform: capitalize;
}

.facet-state label {
  text-transform: uppercase;
}

.page-search .sui-facet__title,
.page-search .sui-sorting__label,
.page-search .sui-multi-checkbox-facet__option-count {
  color: #4152b3;
}

.page-search .sui-select__control {
  border-color: var(--border-color);
}
.btn-header {
  padding: 4px 8px;
}

.page-search .sui-result__header {
  margin-top: -40px;
  border: 1px solid var(--border-dark-color);
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #fff;
  z-index: 1;
}

.sui-result__header h6 {
  margin: 0;
}

.sui-result__header .sui-result__title {
  font-size: 1rem;
}

.page-search .css-qc6sy-singleValue {
  color: var(--dark-color);
  font-weight: normal;
}

.page-search .sui-result {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: visible;
  padding-bottom: 0;
}

.page-search .sui-layout-main {
  padding: 16px 0 0 16px;
  width: 80%;
}

.page-search .sui-layout-main-header {
  margin-bottom: 1.5rem;
  width: 72%;
}

.page-search .sui-layout-body__inner {
  padding: 0;
}

.page-search .sui-layout-sidebar {
  border-radius: 5px;
  padding: 0;
  width: 20%;
  min-width: 200px;
}

.page-search .sui-layout-body__inner {
  align-items: flex-start;
  max-width: 100vw;
}

.page-search .sui-select__control--is-focused {
  border-color: var(--border-dark-color);
}

.page-search .sui-layout-header {
  border-bottom: none;
  padding: 0 16px 16px 0;
  // position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
}

.page-search .sui-layout-header__inner {
  width: 90%;
  max-width: 900px;
  min-width: 350px;
}

.page-search .sui-layout-body {
  // margin-top: 200px;
}

.flex-gap-8 {
  gap: 8px;
}

.d-flex .sui-search-box__submit {
  margin-left: 0;
}

.advanced .form-select {
  width: auto;
}

.advanced form {
  position: relative;
}

.advanced .close {
  position: absolute;
  right: 100px;
  top: 4px;
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
}

.advanced .close:hover {
  border: 1px solid var(--accent-color);
}

.link-color {
  color: var(--bs-link-color);
  cursor: pointer;
  width: fit-content;
  font-weight: 300;
}

.basic-search {
  width: 100%;
}

.collapse.show {
  display: block;
}

.sui-result__details {
  position: relative;
}

.read-more {
  color: var(--bs-link-color) !important;
  position: absolute;
  bottom: 0;
  right: 1rem;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.read-more[aria-expanded='true'] {
  color: var(--accent-color) !important;
}

.read-more[aria-expanded='true']::after {
  border-bottom: 1px solid var(--bs-link-color);
}

.read-more::after {
  content: '';
  width: 50%;
  position: absolute;
  left: 0;
  bottom: -4px;
  border-bottom: 1px solid var(--accent-color);
}

.flex-justify-content-between {
  justify-content: space-between;
}

footer {
  background-color: #fff;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--dark-color);
  height: 48px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-adress {
  font-size: 0.75rem;
  text-align: center;
}

.alert-container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-container .alert {
  max-width: 760px;
  width: 100%;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.contact-us {
  border-bottom: 2px solid var(--accent-color);
}

.col-full {
  width: 100%;
}

.tablist .nav-tabs {
  margin-bottom: 0 !important;
}

.tablist .nav-tabs .nav-link {
  background-color: var(--tabs-color);
  color: #fff;
  margin: 0 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tablist .nav-tabs .nav-link:hover {
  border: 1px solid var(--secondary-color);
}

.tablist .nav-tabs .nav-link.active {
  background-color: #fff;
  color: var(--dark-color);
  padding: calc(0.5rem + 1px) 1rem;
  border: 1px solid var(--border-color);
  border-bottom: none;
  position: relative;
  font-weight: 500;
}

.tablist .nav-tabs .nav-link.active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 5px;
  background-color: #fff;
}

.tablist .tab-content {
  border: 1px solid var(--border-color);
  padding: 32px;
  border-radius: 4px;
}

.about {
  max-width: 1000px;
}

.about h2,
.about h3,
.about li,
.about p {
  color: #595b5b;
}

.about p {
  margin-bottom: 2rem;
}

.about b {
  font-weight: 500;
}

.dashboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1000px;
  margin: 1rem auto;
}

.dashboards .card {
  width: 300px;
  cursor: pointer;
}

.dashboards .card h2 {
  color: var(--dark-color);
}

.dashboards .card p {
  color: var(--text-secondary-color);
}

.dashboards .card:hover {
  border-color: var(--accent-color);
}

.sui-search-box__text-input:focus {
  box-shadow: none !important;
  border: 1px solid var(--border-dark-color) !important;
}

.sui-search-box button {
  padding: 8px;
}

.team {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.team-member {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.team-member h2 {
  font-size: 1rem;
  color: var(--dark-color);
  margin: 0;
  text-align: center;
}

.team span {
  font-size: 0.9rem;
  color: var(--text-secondary-color);
  margin-top: -5px;
}

.sui-paging {
  display: flex;
  justify-content: center;
}

legend {
  font-size: 0.9rem !important;
}

#partners {
  padding: 4px 0;
}

#partners h2 {
  margin: 2rem 0;
}

footer {
  height: 212px;
}

.rc-pagination-prev button:after,
.rc-pagination-next button:after {
  color: var(--bs-link-color);
}

.rc-pagination-item {
  font-family: inherit;
  font-size: 0.9rem;
}

button.rc-pagination-item-link[disabled] {
  background-color: #eee !important;
  opacity: 0.5;
}

.details-page ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 800px) {
  .nav .nav-item {
    justify-content: flex-start;
  }

  .navbar-logo .ibict {
    height: auto;
  }

  .sui-result__value {
    word-break: break-all;
  }

  .navbar {
    min-height: 90px;
    height: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
    align-items: baseline;
    padding-top: 8px !important;
  }

  .nav .nav-item {
    justify-content: flex-start;
    margin-bottom: 0.3rem;
    margin-right: 0 !important;
  }

  .navbar-logo img {
    max-width: 25vw;
  }

  .navbar-toggler {
    margin-top: 1.1em;
  }

  .navbar .flex-nowrap {
    width: 100%;
  }

  .graph {
    height: 50vh;
    width: 100%;
  }

  .sui-search-error {
    align-items: baseline !important;
  }
  .page-search .sui-layout {
    // padding: 0 16px;
    width: 100%;
    margin-left: 0;
  }

  .page-search .sui-layout-header {
    padding: 16px;
  }

  .sui-layout-sidebar-toggle {
    display: block !important;
  }

  .page-search .sui-layout-sidebar {
    width: 100%;
    padding: 16px;
  }
  .sui-layout-main-body {
    flex-direction: column;
  }
  .page-search .sui-layout-main {
    width: 100%;
    padding: 16px 0 0 0;
  }

  .page-search .sui-layout-main-header,
  .result {
    width: 100%;
  }
  .partners div {
    width: 20%;
  }
  .search-card {
    padding: 0 16px;
  }
  .tablist .nav-item {
    width: 33%;
  }
  .tablist .nav-tabs .nav-link {
    width: 100%;
    height: 66px;
  }

  .form-search {
    flex-direction: column;
    gap: 8px;
  }

  .form-search .form-group {
    flex-direction: column;
    gap: 8px;
  }

  .form-search select {
    border-right: 1px solid #ccc;
  }

  .form-search select,
  .form-search input,
  .form-search button {
    width: 100%;
    border-radius: 24px;
  }
}
