:root {
  --accent-color: #e61f93;
  --dark-color: #210d41;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.bg-violet {
  background: var(--dark-color);
}

.navbar .nav-tabs .nav-link:focus,
.navbar .nav-tabs .nav-link:hover {
  border-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next .navbar-expand-lg {
  padding: 0 1.5rem;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark-color);
  }
}

.nav {
  margin-bottom: 0 !important;
}

.navbar {
  margin: 0;
}

.nav-link {
  color: #fff !important;
}

.navbar .nav-link.active {
  font-weight: bold !important;
}

.navbar-btn {
  border-radius: 8px;
  padding: 0.4rem 0;
  width: 100px;
  border: none !important;
  color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent !important;
}

.btn-picti {
  background: #f9943b;
}

.btn-api,
.btn-lorem {
  background: var(--accent-color);
}

.card {
  background-color: #350064 !important;
}

.search-card {
  background-color: #2a2163 !important;
  /* border-radius: 0 !important; */
}

.search-card .nav-tabs,
.search-card .nav-tabs .nav-link {
  margin-bottom: 1rem;
  border: none;
}

.search-card .nav-tabs .nav-item.show .nav-link,
.search-card .nav-tabs .nav-link.active {
  border-bottom: 2px solid #960080;
}

.search-card .sui-search-box__text-input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.search-card .sui-search-box__submit {
  background-color: #f8f9fa;
  background: #f8f9fa;
  color: var(--dark-color);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}
.search-card .sui-search-box__submit:hover,
.search-card .sui-search-box__submit:active {
  background-color: #c6c7c8;
  background: #c6c7c8;
}

.sui-result, .sui-result__header a {
  text-decoration: none;
}

.sui-result__value a {
  margin-right: 0.5rem;
}

.sui-result__value a:after {
  content: ',';
}

.sui-result__value a:last-child:after {
  content: '';
}

#operator {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
  font-family: inherit;
  width: 70px;
}

.page {
  padding-top: 2rem;
  min-height: 0vh;
}

.page .nav-tabs .nav-item.show .nav-link,
.page .nav-tabs .nav-link.active {
  background-color: transparent;
}

.page .nav-tabs {
  border-bottom: none;
}

.search-btn {
  width: 100%;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.partners div {
  width: 12%;
  min-width: 100px;
}

.navbar .nav-tabs {
  border-bottom: none;
}

/* sobrescrevendo o css do componente do search-ui  */
.page-search,
.page-search .sui-multi-checkbox-facet {
  color: #210d41;
}

.page-search .sui-facet__title,
.page-search .sui-sorting__label,
.page-search .sui-multi-checkbox-facet__option-count {
  color: #4152b3;
}

.page-search .sui-select__control {
  border-color: var(--dark-color);
}

.page-search .sui-result__header {
  position: relative;
  top: 8px;
  border: 1px solid var(--accent-color);
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: #fff;
  z-index: 1;
}

.page-search .css-qc6sy-singleValue {
  color: var(--dark-color);
  font-weight: normal;
}

.page-search .sui-result {
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}

.page-search .sui-layout-main-header {
  margin-bottom: 1rem;
}

.page-search .sui-layout-sidebar {
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 1rem 0.5rem;
}

.page-search .sui-layout-body__inner {
  align-items: flex-start;
}

.page-search .sui-select__control--is-focused {
  border-color: var(--accent-color);
}