.charts {
  width: 27%;
  min-width: 250px;
}

.chart {
  padding: 0;
  margin-right: 16px;
  width: 100%;
  position: relative;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 8px;
}

.title {
  color: #555;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.download {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 800px) {
  .charts {
    margin-right: 0;
    margin-bottom: 32px;
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
    margin-top: 20px;
  }
}